# Directories to ignore
cache/
coverage/
node_modules/
out/
broadcast/

# Files to ignore
*.env
*.log
.DS_Store
.pnp.*
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock

# Broadcasts - keep main folder, ignore contents
!broadcast/
broadcast/*
broadcast/*/31337/

# Other Foundry-related directories
lib/
artifacts/
typechain/
